:root {
  --teal: #4eafc6;
  --blue: #0c6396;
  --dkblue: #074369;
  --ltblue: #e1edf2;
  --orange: #e9523b;
  --red: #c40823;
  --dkred: #97040b;
  --yellow: #e5bb17;
  --purple: #66445a;
  --dkpurple: #512b44;
  --text-default: #142c31;
  --gray: #79919e;

  --iu-red: #990000;
}

* {
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

body {
  color: var(--text-default);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 3rem;
  letter-spacing: 0.05rem;
  line-height: 3.2rem;
  margin-bottom: 0px;
  font-weight: 900;
}

a {
  text-decoration: none;

}

a.btn {
  background-color: var(--dkblue);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .01rem;
  padding: 10px 20px;
  color: #fff;
  display: inline-block;
  width: fit-content;
  border-radius: 5px;
  margin-top: 20px;
}

a.btn svg {
  width: 30px;
  margin-left: 15px;
  transition: all .3s ease-in-out;
  transform: translateX(0);
}

a.btn:hover svg {
  transform: translateX(7px);
}

a.btn svg path {
  fill: #fff;
}


body.front-page {
  display: flex;
  flex-direction: column;
}

/* Nav */

#navlogo-icon {
  width: 50px;
  height: 50px;
}

#navlogo-icon .center {
  fill: var(--teal);
  transition: all .3s ease-in-out;
}

#navlogo-icon:hover .center {
  fill:var(--orange);
}

#navlogo-icon .outer {
  fill: var(--text-default);
}

.main-nav {
  padding: 15px 30px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  height: 80px;
}

.main-nav .right {
  display: flex;
  align-items: center;
}

.main-nav .right ul {
  display: flex;
  gap: 20px;
}

.main-nav .right li {
  list-style: none;
}

#search-button {
  width: 40px;
  margin-left: 30px;
}

.main-nav .right li a {
  color: var(--text-default);
  font-size: .85rem;
  font-weight: 500;
  text-transform: uppercase;
}

.main-nav .right li:hover a {
  color: var(--teal);
}

/* Header */
.front-page header {
  height: calc(100vh - 80px);
  background-image: url('../img/nodes-gradient-bkgrd.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
}

.front-page header .left {
  flex-basis: 70%;
  padding: 30px;
  display: flex;
  gap: 60px;
  align-items: flex-end;
  justify-content: center;
  height: max-content;
  align-self: center;
}

.front-page header .left .imgwrap {
  max-width: 250px;
}

.front-page header .left .imgwrap img {
  width: 250px;
}

.front-page header .left .textwrap {
  max-width: 400px;
}

.front-page header .left .textwrap img {
  position: absolute;
  bottom: -120px;
  left: calc(50% - 30px);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}

@-webkit-keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(20px) }
  100% { transform: translateY(-5px) }
}

@keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(20px) }
  100% { transform: translateY(-5px) }
}


.front-page header .right {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.front-page header .right img {
  height: 100%;
}


/* Main */
main {
  min-height: 100vh;
}

/* Featured Items */

section.featured-items {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

section.featured-items .feature {
  grid-column: 1 / 9;
  grid-row: 1 / 4;
  display: flex;
  align-items: flex-end;
  position: relative;
  background-color: rgba(0,0,0,0.6);
}

section.featured-items .feature .imgwrap {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}

section.featured-items .feature .imgwrap img {
  object-fit: cover;
  object-position: bottom;
}

section.featured-items .feature .text-wrap {
  padding: 30px;
  color: #fff;
  max-width: 500px;
}

section.featured-items .subfeature {
  grid-column: 9 / 13;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: #fff;
  font-size: .8rem;
  line-height: 1rem;
  min-height: 200px;
}

section.featured-items .subfeature.first {
  grid-row: 1 / 2;
  background-color: var(--dkblue);
}

section.featured-items .subfeature.second {
  grid-row: 2 / 3;
  background-color: var(--dkred);
}
section.featured-items .subfeature.third {
  grid-row: 3 / 4;
  background-color: var(--dkpurple);
}

section.featured-items .subfeature svg {
  max-width: 30px;
  fill: #fff;
  transition: all .3s ease-in-out;
}

section.featured-items .subfeature:hover svg {
  transform: translateX(7px);
}

section.featured-items .subfeature p {
  max-width: 70%;
}

/* secondary-features */
.secondary-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.secondary-features .item {
  padding: 45px 30px;
}

.secondary-features .item .imgwrap {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-features .item img {
  max-height: 250px;
}

.secondary-features .item .textwrap {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.secondary-features .item .textwrap h2 {
  font-size: 1.7rem;
  margin-bottom: 0px;
}

.secondary-features .item .textwrap p {
  margin-top: 0;
}

.secondary-features .item .textwrap .btn {
  background-color: #fff;
  margin-top: 30px;
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.secondary-features .item .textwrap .btn:hover {
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  transform: scale(1.03);
}

.secondary-features .item:nth-of-type(1) {
  background-color: var(--blue);
}
.secondary-features .item:nth-of-type(2) {
  background-color: var(--orange);
}
.secondary-features .item:nth-of-type(3) {
  background-color: var(--purple);
}

.secondary-features .item:nth-of-type(1) .btn{
  color: var(--dkblue);
}
.secondary-features .item:nth-of-type(2) .btn {
  color: var(--dkred);
}
.secondary-features .item:nth-of-type(3) .btn{
  color: var(--dkpurple);
}


.secondary-features .item:nth-of-type(1) .btn svg path {
  color: var(--dkblue);
  fill: var(--dkblue);
}

.secondary-features .item:nth-of-type(2) .btn svg path {
  color: var(--dkred);
  fill: var(--dkred);
}

.secondary-features .item:nth-of-type(3) .btn svg path {
  color: var(--dkpurple);
  fill: var(--dkpurple);
}

/* What we do */

section.whatwedo{
  background-image: url('../img/nodes-gradient-bkgrd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section.whatwedo .sectionwrap{
  max-width: 1200px;
  padding: 90px 30px 120px;
  margin: auto;
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(2, 1fr);

}

section.whatwedo .right {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 60px;
}

section.whatwedo .icongrid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

section.whatwedo .iconblock {
  padding: 15px 30px 0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 140px;
  color: #fff;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 40%);
  transition: all .3s ease-in-out;
}

section.whatwedo .iconblock:hover {
  box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
}

section.whatwedo .iconblock.block1 {transform: translateY(35px); background-color: var(--orange);}
section.whatwedo .iconblock.block2 {transform: translateY(-35px); background-color: var(--teal);}
section.whatwedo .iconblock.block3 {transform: translateY(35px);background-color: var(--red);}
section.whatwedo .iconblock.block4 {transform: translateY(-35px); background-color: var(--blue);}
section.whatwedo .iconblock.block5 {transform: translateY(35px); background-color: var(--yellow);}
section.whatwedo .iconblock.block6 {transform: translateY(-35px); background-color: var(--purple);}

section.whatwedo .iconblock img {
  max-width: 60px;
  transition: all .3s ease-in-out;
  transform: scale(1);
}

section.whatwedo .iconblock:hover img {
  transform: scale(1.07);
}

section.whatwedo .iconblock p {
  text-transform: uppercase;
  font-size: .7rem;
  line-height: .8rem;
}

section.whatwedo h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}

section.whatwedo h3 {
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 10px 0;
  max-width: 200px;
  margin: auto;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--orange);
  font-style: italic;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}

/* Filters */

.filters {
  background: var(--blue);
  padding: 60px 15px;
}

.filters .text-wrap {
  max-width: 900px;
  margin: auto;
  text-align: center;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.filters .text-wrap h2 {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 900;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  padding-bottom: 10px;
}

.filters .text-wrap p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: 200;
  border-left: 5px solid #fff;
  padding: 20px 30px;
  margin-top: 0;
  text-align: left;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}


.filters .filter-wrap {
  display: grid;
  max-width: 900px;
  margin: auto;
  gap: 60px;
  grid-template-columns: repeat(3, 1fr);
}

.filters .filter {
  position: relative;
  cursor: pointer;
}

.filters .filter .selected {
  background-color: var(--dkblue);
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.filters .filter .selected svg {
  width: 12px;
  fill: #fff;
  transition: all .3s ease-in-out;
  transform: rotate(0);
}

.filters .filter.active svg {
  transform: rotate(-180deg);
}

.filters .filter .choices-wrap {
  display: none;
  position: absolute;
  background: var(--ltblue);
  width: 100%;
}

.filters .filter.active .choices-wrap {
  display: block;
}

.filters .filter .choices-wrap .choice {
  padding: 10px 20px;
  border-top: 1px solid var(--dkblue);
  color: var(--gray);
  font-size: .8rem;
  font-weight: 600;
}

.filters .filter .choices-wrap .choice:hover {
  background: var(--teal);
  color: #fff;
}

/* Article Grid */
.article-container {
  background-image: url('../img/nodes-gradient-bkgrd.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 60px;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 90px;
  max-width: 1000px;
  gap: 50px;
  margin: auto;
}

.article-grid article {
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.article-grid article:hover {
  box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
  transform: scale(1.05);
}

.article-grid article .textwrap {
  padding: 0 15px;
}

.article-grid article img {
  width: 300px;
}

.article-grid article .label {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--gray);
  letter-spacing: 0.01em;
}

.article-grid article h3 {
  margin-top: 5px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.article-container .btn-wrap {
  text-align: center;
  padding: 50px;
}

.article-container .btn-wrap a {
  display: inline-flex;
  margin: auto;
  background-color: var(--blue);
  padding: 10px 20px;
  color: #fff;
  font-size: 1.2rem;
}

.article-container .btn-wrap a svg {
  width: 30px;
  margin-left: 15px;
}

.article-container .btn-wrap a svg path {
  fill: #fff;
}


/* Opportunity */
.opportunity {
  display: flex;
  background-color: #eaeaea;
}

.opportunity>div {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}

.opportunity .left {
  padding: 60px;
  display: flex;
  align-items: center;
}

.opportunity h2 {
  margin: 0;
  font-size: 2rem;
  line-height: 2.2rem;
}

.opportunity .right .inner {
  padding: 30px;
  overflow: hidden;
}

/* Events */
.opportunity .right article {
  padding: 30px;
  max-width: 500px;
  margin: 15px auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.opportunity .right article .imgwrap img {
  max-width: 500px;
  border-radius: 10px;
}

.opportunity .right article .time {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--teal);
}

.opportunity .right article .location {
  font-size: .85rem;
  font-weight: 500;
  color: var(--gray);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.opportunity .right article .btn-wrap {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}

.opportunity .right article h3 {
  font-weight: 600;
}

.opportunity .right article .excerpt {
  font-weight: 200;
}

.opportunity .right article .btn {
  text-transform: uppercase;
  font-size: .85rem;
  border: 2px solid var(--teal);
  color: var(--teal);
  background-color: #fff;
  transition: all .3s ease-in-out
}

.opportunity .right article .btn:hover {
  color: #fff;
  background-color: var(--teal);
}



/* Contribute */

.onboarding {
  background-color: var(--purple);
}

.onboarding .inner>div {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;  
}

.onboarding .inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px
}

.onboarding .inner .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  flex-basis: 50%;
}

.onboarding .inner .left .textwrap {
  max-width: 450px;
}

.onboarding h2 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  margin-bottom: 0px;
  font-weight: 900;
  color: #fff;
}

.onboarding p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #fff;
}

.onboarding a.btn {
  background-color: #fff;
  color: var(--dkpurple);
  font-size: 1.2rem;
  padding: 10px 20px;
  display: inline-block;
  width: fit-content;
  border-radius: 5px;
}

.onboarding a.btn svg path {
  fill: var(--dkpurple);
}

.onboarding .inner .right {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onboarding .inner .right .imgwrap {
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.onboarding img {
  height: 400px;
}

/* Footer */
footer .upper {
  padding: 30px;
  display: flex;
  gap: 20px;
  background-image: url('../img/nodes-gradient-bkgrd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: space-between;
}


footer .upper .logowrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

footer .upper .logowrap img {
  width: 100px;
}

footer .upper .socialwrap  {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

footer .upper .socialwrap a {
  display: inline-block;
}

footer .upper .socialwrap a img {
  width: 30px;
  height: auto;
}

footer .upper .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}

footer .upper .links {
  display: flex;
  justify-content: flex-end;
}

footer .upper .links ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

footer .upper .links li {
  list-style: none;
}
footer .upper .links li>a {
  text-decoration: none;
  color: var(--text-default);
}

footer .upper .links li:hover>a {
  text-decoration: none;
  color: var(--teal);
}


footer .upper .mainlinks {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
}

footer .upper .smalllinks {
  font-size: .9em;
}


/* IU Footer */
footer .lower {
  padding: 15px 30px;
  background-color: var(--iu-red);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .lower .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .lower .imgwrap {
  width: 100px;
  margin-right: 15px;
}

footer .lower .textwrap {
  color: #fff;
  font-size: .9rem;
  max-width: 500px;

}

footer .lower .right {
  display: flex;
  align-items: flex-end;
  padding-right: 0px;
}

footer .lower .right ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding: 0;
}

footer .lower .right li {
  list-style: none;
  margin-bottom: 5px;
}

footer .lower .right li a {
  color: #fff;
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

footer .lower .right li:hover a {
  font-size: .9rem;
}