:root {
  --teal: #4eafc6;
  --blue: #0c6396;
  --dkblue: #074369;
  --ltblue: #e1edf2;
  --orange: #e9523b;
  --red: #c40823;
  --dkred: #97040b;
  --yellow: #e5bb17;
  --purple: #66445a;
  --ltpurple: #993877;
  --dkpurple: #512b44;
  --text-default: #142c31;
  --gray: #79919e;
  --iu-red: #990000;
}

* {
  box-sizing: border-box;
}

.gradient-teal {
  background-color: var(--teal);
  background: linear-gradient(var(--teal), var(--dkblue));
}
.gradient-orange {
  background-color: var(--orange);
  background: linear-gradient(var(--orange), var(--dkred));
}
.gradient-purple {
  background-color: var(--purple);
  background: linear-gradient(var(--ltpurple), var(--dkpurple));
}
.gradient-yellow {
  background-color: var(--yellow);
  background: linear-gradient(var(--yellow), var(--orange));
}
.gradient-red {
  background-color: var(--red);
  background: linear-gradient(var(--red), var(--dkpurple));
}
.gradient-blue {
  background-color: var(--purple);
  background: linear-gradient(var(--blue), var(--ltpurple));
}

* {
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  color: var(--text-default);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  margin-bottom: 15px;
  font-weight: bold;
  color: var(--dkblue);
  font-family: 'Arvo';
}

h2 {
  font-size: 3.5rem;
  line-height: 4rem;
  margin-bottom: 15px;
  font-weight: bold;
  color: var(--dkblue);
  font-family: 'Arvo';
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--dkpurple);
  font-weight: 600;
}

a.btn {
  background-color: var(--dkblue);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: .05rem;
  padding: 15px 20px;
  color: #fff;
  display: inline-block;
  width: fit-content;
  border-radius: 5px;
  margin-top: 20px;
  font-family: 'Arvo';
  font-weight: bold;
}

a.btn svg {
  width: 30px;
  margin-left: 15px;
  transition: all .3s ease-in-out;
  transform: translateX(0);
}

a.btn:hover svg {
  transform: translateX(7px);
}

a.btn svg path {
  fill: #fff;
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--orange);
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .inner {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  padding: 5vw;
  min-height: 60vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.banner h1 {
  color: #fff;
  font-size: 60px;
  line-height: 66px;
  max-width: 700px;
}


body.front-page {
  display: flex;
  flex-direction: column;
}

/* Nav */

#navlogo-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#footerlogo-icon .center,
#navlogo-icon .a {
  fill: var(--teal);
  transition: all .3s ease-in-out;
}

#footerlogo-icon:hover .center,
#navlogo-icon:hover .a {
  fill:var(--orange);
}

#footerlogo-icon .outer,
#navlogo-icon .outer {
  fill: var(--text-default);
}

.navwrap {
  position: sticky;
  top: 0;
  z-index: 10;
}

.main-nav {
  padding: 15px 30px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 80px;
  position: relative;
}

.main-nav .left img {
  height: 45px;
}

.main-nav .right {
  display: flex;
  align-items: center;
}

.main-nav .right ul {
  display: flex;
  gap: 20px;
}

.main-nav .right li {
  list-style: none;
}

#search-button {
  width: 40px;
  margin-left: 30px;
  transform: scale(1);
  transition: all .3s ease-in-out;
}

#search-button:hover {
  transform: scale(1.1);
}

.main-nav .right li a {
  color: var(--text-default);
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Arvo';
}

.main-nav .right li:hover a,
.main-nav .right li.active a {
  color: var(--dkpurple);
}


#navsearch {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: #fff;
  top: 0%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  border-top: 3px solid var(--teal);
  z-index: -1;
  opacity: 0;
}

#navsearch.active {
  top: 100%;
  opacity: 1;
}

#navsearch input {
  height: 40px;
  width: 400px;
  padding: 3px 10px;
  font-size: 1rem;
  font-family: 'Arvo';
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--gray);
  outline: none;
}

#search-button-action {
  width: 50px;
  margin-left: -20px;
  cursor: pointer;
}

/* Header */
.front-page header {
  display: flex;
  padding: 0;
  min-height: calc(100vh - 80px);
  margin-bottom: -80px;
}

.front-page header .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.front-page header .inner .upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 65%;
  padding-right: 90px;
}


.front-page header .inner .upper .textwrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 30px 30px 0;
  max-width: 600px;
  background-color: rgba(255,255,255,0.85);
  margin-top: 10vh;
}

.front-page header .inner .upper .textwrap p {
  font-size: 18px;
}


.front-page header h1 {
  font-size: 2.5rem;
  line-height: 2.8rem;
  margin-bottom: 15px;
}


.front-page header .inner .lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  gap: 15px;
}


.front-page .iconblock {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all .5s ease-in-out;
  position: relative;
  min-height: 150px;
  padding: 30px;
  border-radius: 30px 0px 0px 30px;
  cursor: pointer;
  width: 100%;
  position: relative;
}

.front-page .iconblock .imgwrap {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front-page .iconblock .imgwrap:before {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
}

.front-page header .iconblock:nth-of-type(1) .imgwrap:before {
  background: linear-gradient(var(--yellow), var(--dkred));
}
.front-page header .iconblock:nth-of-type(2) .imgwrap:before {
  background: linear-gradient(var(--teal), var(--dkblue)); 
}
.front-page header .iconblock:nth-of-type(3) .imgwrap:before {
  background: linear-gradient(var(--blue), var(--ltpurple));
}

.front-page header .iconblock:nth-of-type(1) {
  border-right: 10px solid var(--yellow);
}
.front-page header .iconblock:nth-of-type(2) {
  border-right: 10px solid var(--teal);
}
.front-page header .iconblock:nth-of-type(3) {
  border-right: 10px solid var(--ltpurple);
}


.front-page .iconblock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0);
}

.front-page .iconblock .content {
  z-index: 5;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.front-page .iconblock h2 {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  font-family: 'Arvo';
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.01em;
  opacity: 1;
  transition: all .3s ease-in-out;
}


.front-page .iconblock:hover {
  min-height: 300px;
}

.front-page .iconblock:hover h2 {
  opacity: 0;
}

.front-page .iconblock p {
  color: #fff;
  position: absolute;
  right: -100%;
  width: 100%;
  padding: 30px;
  transition: all .3s ease-in-out;
}

.front-page .iconblock:hover p {
  right: 0
}


#photo-blob-1 {
  position: absolute;
  top: 10vh;
  left: 3vw;
  width: 650px;
  clip-path: url('#blob-path-1');
  -webkit-clip-path: url('#blob-path-1');
  z-index: -1;
}



.front-page header img.blob.blob-1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  max-width: 30vw;
}
.front-page header img.blob.blob-2 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  max-width: 20vw;
  transform: rotate(180deg);
}
.front-page header img.blob.blob-3 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  max-width: 600px;
}


#scrolldown {
  position: absolute;
  left:50%;
  bottom: 60px;
}

/* Bounce Animation*/
.bounce {
  -webkit-animation: bounce 2s ease-in-out 2s infinite;
  -moz-animation: bounce 2s linear 2s infinite;
  animation: bounce 2s linear 2s infinite;
}

@-webkit-keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(20px) }
  100% { transform: translateY(-5px) }
}

@keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(20px) }
  100% { transform: translateY(-5px) }
}


/* Main */
main {
  min-height: 100vh;
}

#front-page-main {
  padding-top: 80px;
}

/* Featured Items */

section.featured-items {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

section.featured-items .feature {
  grid-column: 1 / 9;
  grid-row: 1 / 4;
  display: flex;
  align-items: flex-end;
  position: relative;
  background-color: rgba(0,0,0,0.6);
}

section.featured-items .feature .imgwrap {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}

section.featured-items .feature .imgwrap img {
  object-fit: cover;
  object-position: bottom;
}

section.featured-items .feature .text-wrap {
  padding: 30px;
  color: #fff;
  max-width: 500px;
}

section.featured-items .subfeature {
  grid-column: 9 / 13;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: #fff;
  font-size: .8rem;
  line-height: 1rem;
  min-height: 200px;
}

section.featured-items .subfeature.first {
  grid-row: 1 / 2;
  background-color: var(--dkblue);
}

section.featured-items .subfeature.second {
  grid-row: 2 / 3;
  background-color: var(--dkred);
}
section.featured-items .subfeature.third {
  grid-row: 3 / 4;
  background-color: var(--dkpurple);
}

section.featured-items .subfeature svg {
  max-width: 30px;
  fill: #fff;
  transition: all .3s ease-in-out;
}

section.featured-items .subfeature:hover svg {
  transform: translateX(7px);
}

section.featured-items .subfeature p {
  max-width: 70%;
}

/* secondary-features */
.secondary-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.secondary-features .item {
  padding: 45px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.secondary-features .item .imgwrap {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-features .item img {
  max-height: 100%;
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.secondary-features .item:hover img {
  transform: scale(1.1);
}


.secondary-features .item .textwrap {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.secondary-features .item .textwrap h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 15px;
  font-family: 'Arvo';
  font-weight: bold;
  color: #fff;
}

.secondary-features .item .textwrap p {
  margin-top: 0;
  max-width: 300px;
}

.secondary-features .item .textwrap .btn {
  background-color: #fff;
  margin-top: 30px;
  transition: all .3s ease-in-out;
  font-family: 'Arvo';
  font-weight: bold;
}

.secondary-features .item:nth-of-type(1) {
  background-color: var(--blue);
  background: linear-gradient(var(--teal), var(--dkblue));
}
.secondary-features .item:nth-of-type(2) {
  background-color: var(--orange);
  background: linear-gradient(var(--orange), var(--dkred));
}
.secondary-features .item:nth-of-type(3) {
  background-color: var(--purple);
  background: linear-gradient(180deg, var(--ltpurple), var(--dkpurple));
}

.secondary-features .item:nth-of-type(1) .btn{
  color: var(--dkblue);
}
.secondary-features .item:nth-of-type(2) .btn {
  color: var(--dkred);
}
.secondary-features .item:nth-of-type(3) .btn{
  color: var(--dkpurple);
}


.secondary-features .item:nth-of-type(1) .btn svg path {
  color: var(--dkblue);
  fill: var(--dkblue);
}

.secondary-features .item:nth-of-type(2) .btn svg path {
  color: var(--dkred);
  fill: var(--dkred);
}

.secondary-features .item:nth-of-type(3) .btn svg path {
  color: var(--dkpurple);
  fill: var(--dkpurple);
}

/* What we do */

section.whatwedo{
  background-image: url('../img/nodes-gradient-bkgrd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section.whatwedo .sectionwrap{
  max-width: 1200px;
  padding: 90px 30px 120px;
  margin: auto;
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(2, 1fr);

}

section.whatwedo .sectionwrap .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 1;
}

section.whatwedo .right {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 60px;
  flex-grow: 0;
  flex-shrink: 2;
}


section.whatwedo h2 {
  font-size: 3.5rem;
  margin-bottom: 15px;
  color: var(--dkblue);
  font-family: 'Arvo';
  font-weight: bold;
}

section.whatwedo .left p {
  font-weight: 300;
}

section.whatwedo h3 {
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 10px 0 0;
  max-width: 300px;
  margin: 0 auto;
  font-weight: 900;
  color: var(--orange);
  font-weight: bold;
  font-family: 'Arvo';
}

section.whatwedo .textwrap p {
  font-family: 'Arvo';
  font-size: .9rem;
  padding: 0 30px 20px;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}

/* Who We Are */
section.whoweare {
  display: flex;
}

section.whoweare .inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.whoweare .left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-basis: 50%;
  height: 100%;
}

section.whoweare .iconblock {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all .5s ease-in-out;
  position: relative;
}

section.whoweare .iconblock .imgwrap {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.whoweare .iconblock .imgwrap:before {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
}

section.whoweare .iconblock:nth-of-type(1) .imgwrap:before {
  background: linear-gradient(var(--teal), var(--dkblue));
}
section.whoweare .iconblock:nth-of-type(2) .imgwrap:before {
  background: linear-gradient(var(--yellow), var(--dkred));
}
section.whoweare .iconblock:nth-of-type(3) .imgwrap:before {
  background: linear-gradient(var(--blue), var(--ltpurple));
}
section.whoweare .iconblock:nth-of-type(4) .imgwrap:before {
  background: linear-gradient(var(--red), var(--ltpurple));
}
section.whoweare .iconblock:nth-of-type(5) .imgwrap:before {
  background: linear-gradient(var(--ltpurple), var(--teal));
}
section.whoweare .iconblock:nth-of-type(6) .imgwrap:before {
  background: linear-gradient(var(--yellow), var(--orange));
}


section.whoweare .iconblock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0);
}

section.whoweare .iconblock .content {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

section.whoweare .iconblock p {
  color: #fff;
  font-size: 20px;
  font-family: 'Arvo';
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}

section.whoweare .right {
  font-weight: 300;
  flex-basis: 50%;
  padding: 90px;
}


section.whoweare h2 {
  font-size: 3.5rem;
  margin-bottom: 15px;
  color: var(--dkblue);
  font-family: 'Arvo';
  font-weight: bold;
}

section.whoweare .right p {
  font-weight: 300;
}


/* Filters */

.filters {
background-attachment: fixed;
  background-size: 140%;
  background-repeat: no-repeat;
  background: linear-gradient(45deg, var(--blue), var(--teal));
  padding: 60px 15px;
}

.filters .text-wrap {
  max-width: 900px;
  margin: auto;
  text-align: center;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.filters .text-wrap h2 {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 900;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  padding-bottom: 10px;
  font-family: 'Arvo';
}

.filters .text-wrap p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: 200;
  border-left: 2px solid #fff;
  padding: 20px 30px;
  margin-top: 0;
  text-align: left;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}


.filters .filter-wrap {
  display: grid;
  max-width: 900px;
  margin: auto;
  gap: 60px;
  grid-template-columns: repeat(3, 1fr);
}

.filters .filter {
  position: relative;
  cursor: pointer;
}

.filters .filter .selected {
  background-color: var(--dkblue);
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.filters .filter .selected svg {
  width: 12px;
  fill: #fff;
  transition: all .3s ease-in-out;
  transform: rotate(0);
}

.filters .filter.active svg {
  transform: rotate(-180deg);
}

.filters .filter .choices-wrap {
  display: none;
  position: absolute;
  background: var(--ltblue);
  width: 100%;
}

.filters .filter.active .choices-wrap {
  display: block;
}

.filters .filter .choices-wrap .choice {
  padding: 10px 20px;
  border-top: 1px solid var(--dkblue);
  color: var(--gray);
  font-size: .8rem;
  font-weight: 600;
}

.filters .filter .choices-wrap .choice:hover {
  background: var(--teal);
  color: #fff;
}

/* Article Grid */
.article-container {
  background-image: url('../img/nodes-gradient-bkgrd.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 60px;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 90px;
  max-width: 1000px;
  gap: 50px;
  margin: auto;
}

.article-grid article {
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  transform: scale(1);
  transition: all .3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}

.article-grid article:hover {
  box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
  transform: scale(1.05);
}

.article-grid article .textwrap {
  padding: 0 15px;
}

.article-grid article img {
  width: 300px;
}

.article-grid article .label {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--dkblue);
  letter-spacing: 0.01em;
  font-family: 'Arvo';
  font-weight: bold;
  margin: 15px 0;
}

.article-grid article h3 {
  margin: 15px 0 30px;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 500;
}

.article-container .btn-wrap {
  text-align: center;
  padding: 50px;
}

.article-container .btn-wrap a {
  display: inline-flex;
  margin: auto;
  background-color: var(--blue);
  color: #fff;
  font-size: 1.2rem;
}

.article-container .btn-wrap a svg {
  width: 30px;
  margin-left: 15px;
}

.article-container .btn-wrap a svg path {
  fill: #fff;
}


/* Opportunity */
.opportunity {
  display: flex;
  background-color: #fcfcfc;
  position: relative;
}


.opportunity>div {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 50%;
}

.opportunity .left {
  padding: 60px;
  display: flex;
  align-items: center;
}

.opportunity .left p {
  font-weight: 200;
  font-size: 1.1rem;
}

.opportunity h2 {
  font-size: 3.5rem;
  line-height: 4rem;
  margin-bottom: 30px;
  color: var(--dkblue);
  font-family: 'Arvo';
  font-weight: bold;
}

.opportunity .left .btn {
  background-color: var(--blue);
}

.opportunity .right {
  position: relative;
  padding-right: 30px;
}

.opportunity .right .inner {
  padding: 30px;
  overflow: hidden;
}

/* Events */
.opportunity .right article {
  padding: 30px;
  max-width: 500px;
  margin: 15px auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.opportunity .right article .imgwrap img {
  max-width: 500px;
  border-radius: 10px;
}

.opportunity .right article .time {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: var(--teal);
  font-family: 'Arvo';
  margin-bottom: 10px;
  letter-spacing: 0.02rem;
}

.opportunity .right article .location {
  font-size: .85rem;
  font-weight: 500;
  color: var(--gray);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.opportunity .right article .btn-wrap {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}

.opportunity .right article h3 {
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.5rem;
}

.opportunity .right article .excerpt {
  font-weight: 200;
}

.opportunity .right article .btn {
  text-transform: uppercase;
  font-size: .85rem;
  border: 2px solid var(--teal);
  color: var(--teal);
  background-color: #fff;
  transition: all .3s ease-in-out
}

.opportunity .right article .btn:hover {
  color: #fff;
  background-color: var(--teal);
}

.opportunity .slide-control {
  width: 100px;
  padding: 20px;
  position: absolute;
  top: 35%;
  z-index: 10;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.opportunity .slide-control svg path {
  fill: var(--orange);
}

.opportunity #slide-prev {
  left: 25px;
  transform: rotate(180deg);

}
.opportunity #slide-next {
  right: 55px;
}

.opportunity #slide-prev:hover {
  left: 15px;
  transform: rotate(180deg);

}
.opportunity #slide-next:hover {
  right: 45px;
}


/* Contribute */

.onboarding {
  background-color: var(--purple);
  background: linear-gradient(45deg, var(--ltpurple), var(--orange));
  position: relative;
  mix-blend-mode: multiply;
  margin-top: 150px;
}

.onboarding img.bkgrd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: saturate(0);
}

.onboarding .inner>div {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;  
}

.onboarding .inner {
  display: flex;
  flex-direction: row;
}

.onboarding .inner .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 30px;
  flex-basis: 50%;
  order: 1;
}

.onboarding .inner .left .textwrap {
  max-width: 450px;
}

.onboarding h2 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  margin-bottom: 0px;
  font-weight: 900;
  color: #fff;
  font-family: 'Arvo';
}

.onboarding p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #fff;
}

.onboarding a.btn {
  background-color: #fff;
  color: var(--dkred);
  display: inline-block;
  width: fit-content;
  border-radius: 5px;
}

.onboarding a.btn svg path {
  fill: var(--dkred);
}

.onboarding .inner .right {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  order: 2;
}

.onboarding .inner .right .imgwrap {
  width: 600px;
  height: 450px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.onboarding img {
  height: 550px;
  transform: rotateY(180deg);
}

/* Footer */
footer .upper {
  padding: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid var(--teal);
  background: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url('../img/color-nodes-bkgrd.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20%;
}


footer .upper .logowrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 60px;
  width: 400px;
}

#footerlogo-icon {
  width: 80px;
  height: 80px;
}

footer .upper .socialwrap  {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

footer .upper .socialwrap a {
  display: inline-block;
}

footer .upper .socialwrap a img {
  width: 30px;
  height: auto;
}

footer .upper .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}

footer .upper .links {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  align-items: center;
}

footer .upper .links ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

footer .upper .links li {
  list-style: none;
}
footer .upper .links li>a {
  text-decoration: none;
  color: var(--text-default);
}

footer .upper .links li:hover>a {
  color: var(--teal);
}

footer .upper .links li.active a {
  color: var(--teal);
}

footer .upper .mainlinks {
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Arvo';
}

footer .upper .links.small-links li>a {
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 400;
}

footer .subscribewrap form {
  display: flex;
}

footer .subscribewrap img {
  transform: rotateY(180deg);
}


footer #email-join {
  font-size: 16px;
  padding: 5px 10px 5px 30px;
  border-radius: 5px;
  height: 45px;
  border: 1px solid #ed6326;
  width: 250px;
  transform: translateX(-5px) translateY(2px);
  z-index: -1;
  box-sizing: border-box;
}

/* IU Footer */
footer .lower {
  padding: 15px 30px;
  background-color: var(--iu-red);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .lower .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .lower .imgwrap {
  width: 60px;
  margin-right: 15px;
}

footer .lower .textwrap {
  color: #fff;
  font-size: .8rem;
  max-width: 500px;

}
footer .lower .textwrap p {
  color: #fff;
  font-size: .8rem;
}

footer .lower .right {
  display: flex;
  align-items: flex-end;
  padding-right: 0px;
}

footer .lower .right ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 15px;
  padding: 0;
}

footer .lower .right li {
  list-style: none;
}

footer .lower .right li a {
  color: #fff;
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  padding-bottom: 3px;
  font-family: 'Arvo';
}

footer .lower .right li:hover a {
  text-decoration: underline;
}

/* About Page */
.page-about header {
  padding: 90px 10vw 0;
  flex-direction: column;
  font-family: 'Arvo';
  color: var(--dkblue);
  font-size: 36px;
  background: linear-gradient(#005b97, #0075be, #1e9cd7,#cce0f4 );
}

.page-about header h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  color: #fff;
  margin: 60px auto;
}

/* About - Overview */

#about-page-main .overview {
  max-width: 800px;
  margin: auto;
  padding: 60px 15px;
}

#about-page-main .overview h2 {
  text-align: center;
  margin-bottom: 45px;
}

#about-page-main .overview p {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 45px;
}

/* About - Approach */

#about-page-main .approach {
  padding: 150px 30px 90px;
  background-image: url(../img/nodes-gradient-bkgrd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

#about-page-main .approach h2 {
  text-align: center;
  margin-bottom: 90px;
}

#about-page-main .approach .iconblock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: 1000px;
  margin: auto;
}

#about-page-main .approach .iconblock .card {
  display: flex;
  flex-direction: row-reverse;
  gap:30px;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  max-width: 1000px;
  padding: 30px;
  grid-column: 1 /3;
}

#about-page-main .approach .card.active {
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}


#about-page-main .approach .iconwrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: all .5s ease-in-out;
  transform: scale(1.3);
  flex-basis: 25%;
  flex-shrink: 0;
  flex-grow: 0;
}

#about-page-main .approach .card.active .iconwrap {
  transform: scale(1.5);
}

#about-page-main .approach .iconwrap img {
  max-width: 300px;
  max-height: 200px;
}


#about-page-main .approach .iconblock .card .textwrap {
  padding: 0 60px 0 0;
  flex-basis: 70%;
  flex-shrink: 0;
  flex-grow: 0;
}


#about-page-main .approach .iconblock .card .textwrap p {
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: 300;
}

#about-page-main .approach .iconblock .card h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: 'Arvo';
  color: var(--dkblue);
  margin-bottom: 30px;
  transform: scale(.95);
  transform-origin: left;
  transition: all .5s ease-in-out;
  padding-right: 60px;
}

#about-page-main .approach .card.active h3 {
  transform: scale(1);
}

#about-page-main .approach .iconblock .card p {
  font-size: 1rem;
}

#about-page-main .approach .textblock {
  max-width: 800px;
  margin: auto;
  padding: 0px 30px 15px;
}

#about-page-main .approach .textblock p {
  font-size: 1.2rem;
  line-height: 2rem;
}

#about-page-main .approach .iconblock .card-credits{ 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  max-width: 700px;
  margin: auto;
  padding: 0px 30px 0;
  grid-column: 1 /3;
  width: 700px;
  height: 700px;
  margin: 60px auto 0;
}

#about-page-main .approach .iconblock .card-credits .iconwrap {
  flex-basis: 50%;
}

#about-page-main .approach .iconblock .card-credits .iconwrap img{
  max-width: 1000px;
  transform: scale(1.5) translateY(-45px);
}


#about-page-main .approach .iconblock .card-credits .textwrap{
  padding: 0 0;
  max-width: 1000px;
  flex-direction: row;
  display: flex;
  margin: 0 -300px;
}

#about-page-main .approach .iconblock .card-credits .textwrap .textblock {
  padding: 90px 0 0;
  width: 100%;
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  transform: translateY(-60px);
}


#about-page-main .approach .iconblock .card-credits .textwrap p {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 300;
  flex-basis: 50%;
  padding-left: 30px;
  flex-grow: 0;
  flex-shrink: 0;
}

#about-page-main .approach .iconblock .card-credits .textwrap h4 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 700;
  font-family: "Arvo";
  color: var(--dkpurple);
  padding: 15px 30px 30px 0;
  border-right: 1px solid #ccc;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}

/* Frameworks */
#about-page-main .frameworks {
  background: linear-gradient(195deg, #e9523b, #f5bb17);
  padding: 60px 15px;
}

#about-page-main .frameworks .framework-cta {
  display: flex;
  gap: 60px;
  max-width: 1200px;
  margin: auto;
}

#about-page-main .frameworks .framework-cta .imgwrap {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

#about-page-main .frameworks .framework-cta .imgwrap img {
  max-width: 400px;
  margin: auto;
}

#about-page-main .frameworks .framework-cta .textwrap {
  flex-basis: 50%;
  align-items: center;
  height: 100%;
}

#about-page-main .frameworks .framework-cta h2 {
  margin-bottom: 0;
  margin-top: 90px;
  text-align: left;
  color: #fff;
  font-size: 3rem;
}
#about-page-main .frameworks .framework-cta p {
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #fff;
}

#about-page-main .frameworks .framework-cta .btn {
  color: var(--red);
  background-color: #fff;
}

#about-page-main .frameworks .framework-cta .btn svg path {
  fill: var(--red)
}

/* About - Areas We Address */

#about-page-main .areas h2 {
  text-align: center;
  margin: 60px 15px 30px;
}


#about-page-main .areas p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 45px;
}


#about-page-main .areas .textblock {
  max-width: 800px;
  margin: auto;
  padding: 30px;
}

#about-page-main .carousel {
  max-width: 800px;
  margin: auto;
  position: relative;
}

#about-page-main .carousel article {
  position: relative;
}

#about-page-main .carousel article .inner {
  padding: 30px;
  min-height: 500px;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#about-page-main .carousel article .inner h3 {
  color: #fff;
  font-family: 'Arvo';
  font-size: 2rem;
  margin-bottom: 0;
}

#about-page-main .carousel article .inner p {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 15px;
}


#about-page-main .carousel article img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

#about-page-main .carousel .slide-control {
  width: 90px;
  padding: 20px;
  position: absolute;
  top: 40%;
  z-index: 10;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

#about-page-main .carousel .slide-control svg path {
  fill: var(--orange);
}

#about-page-main .carousel #slide-prev {
  left: -45px;
  transform: rotate(180deg);

}
#about-page-main .carousel #slide-next {
  right: -55px;
}

#about-page-main .carousel #slide-prev:hover {
  left: -55px;
  transform: rotate(180deg);

}
#about-page-main .carousel #slide-next:hover {
  right: -65px;
}
/* About - Areas We Address */

#about-page-main .ctas {
  padding: 0;
}

#about-page-main .ctas .inner{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#about-page-main .ctas .colorblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  overflow: hidden;
  transition: all .5s ease-in-out;
  position: relative;
}

#about-page-main .colorblock .imgwrap {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

#about-page-main .colorblock .imgwrap:before {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
}

#about-page-main .colorblock:nth-of-type(1) .imgwrap:before {
  background: linear-gradient(var(--yellow), var(--dkred));
}
#about-page-main .colorblock:nth-of-type(2) .imgwrap:before {
  background: linear-gradient(var(--blue), var(--ltpurple));
}

#about-page-main .colorblock:hover .imgwrap:before {
  background: none;
}



#about-page-main .colorblock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0);
}

#about-page-main .colorblock .content {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 30px;
}

#about-page-main .colorblock .content a {
  font-family: 'Arvo';
  font-size: 1.6rem;
  line-height: 3.5rem;
  font-weight: bold;
  color: #fff;
  transform: scale(1);
  transition: all .3s ease-in-out;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


#about-page-main .colorblock:hover .content {
  background: rgba(0,0,0,0.75);
}

#about-page-main .colorblock:hover .content a {
  transform: scale(1.1);
}


/* community-engagement */

.community-engagement h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 45px;
}

.community-engagement .overview {
  max-width: 800px;
  margin: auto;
  padding: 60px 30px 90px;
}

.community-engagement .overview p {
  font-weight: 300;
  font-size: 18px;
}

.community-engagement .tutorials {
  background-image: url(../img/nodes-gradient-bkgrd.jpg);
  background-size: cover;
  padding: 60px 30px;
}

.community-engagement .tutorials>p {
  max-width: 600px;
  margin: auto;
  font-size: 20px;
  font-weight: 300;
}

.community-engagement .tutorials .carousel-wrap {
  padding: 60px 60px;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.community-engagement .tutorials article {
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  margin: 15px 0;
}

.community-engagement .tutorials article .imgwrap {
  height: 250px;
  position: relative;
}

.community-engagement .tutorials article .imgwrap img {
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.community-engagement .tutorials article .textwrap {
  padding: 15px 30px 30px;
}

.community-engagement .tutorials article .label {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  height: 30px;
  display: flex;
  align-items: flex-end;
  padding: 0 5px;
}

.community-engagement .tutorials article h3 {
  font-family: "Arvo";
  color: var(--dkblue);
}


.community-engagement .tutorials .slide-control {
  width: 90px;
  padding: 20px;
  position: absolute;
  top: 30%;
  z-index: 10;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.community-engagement .tutorials .slide-control svg path {
  fill: var(--orange);
}

.community-engagement .tutorials #slide-prev {
  left: 10px;
  transform: rotate(180deg);

}
.community-engagement .tutorials #slide-next {
  right: 10px;
}

.community-engagement .tutorials #slide-prev:hover {
  left: 0px;
  transform: rotate(180deg);

}
.community-engagement .tutorials #slide-next:hover {
  right: 0px;
}

.community-engagement .tutorials .btn {
  margin: auto;
  display: block;
}

.community-engagement .caucus {
  max-width: 900px;
  margin: auto;
  padding: 60px 30px;
}

.community-engagement .caucus h2 {
  font-size: 36px;
}

.community-engagement .bios {
  background-color: var(--purple);
  width: 100%;
  padding: 60px 30px;
}

.community-engagement .bios h2 {
  font-size: 36px;
  color: #fff;
}

.community-engagement .bios-wrap {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 90px;
  padding: 30px;
  background-color: var(--purple);
}

.community-engagement .bios .left {
  flex-basis: 250px;
  flex-shrink: 0;
}

.community-engagement .bios .left ul {
  max-height: 100%;
  padding: 0;
  background-color: var(--dkpurple);
  margin-top: 0px;
}

.community-engagement .bios .left li {
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 15px;
}

.community-engagement .bios .left li.active {
  background-color: #fff;
  color: var(--purple);
  font-weight: 500;
  padding: 20px 15px;
}

.community-engagement .bios .right .inner {
  position: relative;
}

.community-engagement .bios article {
  display: none;
  background-color: rgba(255,255,255,0.8);
  padding: 90px 60px 30px;
}

.community-engagement .bios article.active {
  display: block;
}

.community-engagement .bios article h3 {
  color: var(--dkpurple);
  font-size: 28px;
  font-family: 'Arvo';
  max-width: 360px;
  margin-bottom: 15px;
}

.community-engagement .bios article h4 {  
  font-size: 14px;
  max-width: 360px;
  margin-bottom: 70px;
}

.community-engagement .bios .imgwrap {
  width: 300px;
  height: 300px;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  right: 30px;
  top: -60px;
}

.community-engagement .bios .imgwrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.community-engagement .contact {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.community-engagement .contact .inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.community-engagement .contact .text-wrap {
  background-color: rgba(255,255,255,0.65);
  text-align: left;
  min-height: 400px;
  max-width: 450px;
  padding: 60px;
  backdrop-filter: blur(10px);
}

.community-engagement .contact h3 {
  font-size: 48px;
  margin-bottom: 15px;
  color: var(--teal);
  font-family: 'Arvo';
}

.community-engagement .contact .btn {
  background-color: var(--teal);
}